<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="/assets/images/logo.png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search End ***** -->
                    <div class="search-input">
                        <form id="search" action="/browse" method="post">
                            <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword"
                                   onkeypress="handle"/>
                        </form>
                    </div>
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/" class="<%- activePage == 'home' ? 'active' : '' %>">Home</a></li>
                        <li><a href="/browse" class="<%- activePage == 'browse' ? 'active' : '' %>">Browse</a></li>
                        <li><a href="/contact" class="<%- activePage == 'contact' ? 'active' : '' %>">Contact</a></li>
                        <% if (typeof currentUser !== "undefined") { %>
                            <li><a href="/posts" class="<%- activePage == 'posts' ? 'active' : '' %>">Posts</a></li>
                            <li><a href="/logout" id="logout" class="<%- activePage == 'logout' ? 'active' : '' %>">Logout</a></li>
                        <% } else { %>
                            <li><a href="/login" class="<%- activePage == 'login' ? 'active' : '' %>">Log in</a></li>
                            <li><a href="/signup" class="<%- activePage == 'signup' ? 'active' : '' %>">Sign up</a></li>
                        <% } %>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->